/*Jonathan Ali Corado Hernandez */
/*18001211 */
/* Seccion A*/
$principal : rgb(46, 99, 204);
$secundaria: rgb(40, 211, 77);
$hobbie1:rgb(201, 127, 84);
$hobbie2: rgb(131, 201, 84);
$hobbie3:rgb(151, 79, 192);
$papas:rgb(201, 127, 84);
$amigos: rgb(131, 201, 84);
$mascotas:rgb(151, 79, 192);